@import 'mdb-ui-kit/css/mdb.min.css';


@media (min-width: 1400px) {

   main,
   header,
   #main-navbar {
      padding-left: 240px;
   }
}

 

#root {
   display: grid;
   grid-template-rows: auto 1fr auto;
   min-height: 100dvh;
}

.sidenav-backdrop{
   z-index: 1;
}